*, *::before, *::after {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: honeydew;
    border-radius: 5px;
    padding: 100px;
    font-size: 1.5rem;
    color: thistle;
    font-weight: bold;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color:thistle;
    border-radius: 5px;
    padding: 5px 10px;
    color: honeydew ;
    font-size: 1.5rem;
    border: none;
}

.btn:hover {
    border-color: slategray;
}

.start-button, .next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}